api:
  dashboard: 
  insecure:
entryPoints:
  http:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
certificatesResolvers:
  cloudflare:
    acme:
      email:
      storage: /data/acme.json
      #caServer: https://acme-v02.api.letsencrypt.org/directory #Production
      #caServer: https://acme-staging-v02.api.letsencrypt.org/directory #Staging
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - 8.8.8.8
          - 8.8.4.4
